<?xml version="1.0"?>
<model>
  <name>coordination_diffbot</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>KarimAmer45</name>
    <email>karimamer456@gmail.com</email>
  </author>
  <description>Simple differential-drive robot for the coordination demo.</description>
</model>

